@model List<Entities.Concrete.Director>
@{
    ViewBag.Title = "DirectorList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <br />
    <a href="/Register/Index" class="btn btn-primary">Yönetici Ekle</a>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>E-mail</th>
        <th>Rolü</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DirectorId</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Role.RoleName</td>
            <td><a href="/Director/DeleteDirector/@item.DirectorId" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>